doctype html
html
    head
        link(rel='stylesheet', href='/css/main.css')
        title Sean Franklin's Webpage
    body
        .header
            h1.page-title Sean Franklin

        ul.nav
            li: a(href='/') Home
            li: a(href='https://developer.ibm.com/bluemix/author/smfrank/') Blog Posts
            //li: a(href='/resume') Resume

        .main-content
            block content

        .resume-content
            block resume

        .footer
            p The best way to predict the future is to create it.  -Peter Drucker