extend default

block content
    p.
        I currently live in Durham, NC. I enjoy golfing in my free time. This paragraph
         needs much more work, but that can be added later.

    p.
        I graduated from Clarkson University in the Fall of 2013 with a Bachelors degree
        in Software Engineering. I currently work for IBM on the API Connect product as a
         software engineer working with the development team. Previously within IBM I
          worked on the WebSphere Batch team performing level 3 support and development
           for the WebSphere Batch product on traditional and Liberty WebSphere versions.

    p.
        P.S. I love my girlfriend Karen Elizabeth Tonch!
